<footer class="footer__container" onclick="location='#header_top'">
  <div class="footer__goUp"></div>
  <div class="footer__content">
    <ul class="footer__list footer__list__content">
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Articles</a></li>
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Books</a></li>
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Events</a></li>
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Reasons</a></li>
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Tips</a></li>
    </ul>

    <ul class="footer__list footer__list__social-media">
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Twitter</a></li>
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Instagram</a></li>
      <li><a href="https://adalab.es/" alt="Ir a Adalab" title="Ir a Adalab" target="_blank">Mastodon.social</a></li>
    </ul>
    <small class="footer__copy">
      <spam>© Margarita Berjón 2020</spam><spam>We <spam class="footer__heart"></spam> components</spam>
    </small>
  </div>
</footer>
