<footer class="footer__container">
  <ul class="footer__list">
    <li><a href="https://adalab.es/" title="ir a Adalab">Articles</a></li>
    <li><a href="https://adalab.es/" title="ir a Adalab">Books</a></li>
    <li><a href="https://adalab.es/" title="ir a Adalab">Events</a></li>
    <li><a href="https://adalab.es/" title="ir a Adalab">Reasons</a></li>
    <li><a href="https://adalab.es/" title="ir a Adalab">Tips</a></li>
  </ul>

  <ul class="footer__list">
    <li><a href="https://adalab.es/" title="ir a Adalab">Twitter</a></li>
    <li><a href="https://adalab.es/" title="ir a Adalab">Instagram</a></li>
    <li><a href="https://adalab.es/" title="ir a Adalab">Mastodon.social</a></li>
  </ul>
  <div>
    <small> © Margarita Berjón 2020</small>
    <small>We &hearts; components</small>
  </div>
</footer>
