.main {
  &__container {
    margin: 1.667rem 0.8333rem 2.5rem;
  }
  &__author {
    font-family: $font-secondary;
    font-size: 14px;
    color: $color-author;
  }
  &__title {
    font-size: 24px;
    font-family: $font-main;
    font-weight: bold;
  }
  &__content {
    font-family: $font-secondary;
    font-size: 18px;
    color: $color-secondary;
    padding-top: 0.8333rem;
  }

  &__cta {
    border: solid $color-cta 2px;
    width: 76px;
    height: 45px;
    border-radius: 1.222rem;
    color: $color-cta;
    font-family: $font-secondary;
    font-size: 20px;
    margin-top: 1.667rem;
  }
  @media (min-width: 768px) {
    &__container {
      margin: 1.667rem 2.167rem 3.333rem 2.167rem;
    }
    &__title {
      font-size: 26px;
    }
    &__content {
      font-size: 20px;
    }
    &__cta {
      width: 91px;
    }
  }
  @media (min-width: 1200px) {
    &__container {
      margin: 3.333rem 15.28rem 3.333rem 15.28rem;
    }
    &__title {
      font-size: 26px;
    }
    &__content {
      font-size: 20px;
    }
    &__cta {
      width: 91px;
    }
  }
}
