.header {
  &__buttom {
    position: absolute;
    animation-name: go-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
}
@keyframes go-down {
  0% {
    top: 90%;
  }
  50% {
    top: 85%;
  }
  100% {
    top: 90%;
  }
}
