// fonts
$font-main: "RobotoSlab";
$fint-secondary: "Roboto";

// colors
$color-white: #ffff;
$color-black: #000000;
$color-secondary: #4a4a4a;
$color-cta: #f26002;
$color-ham-menu: #0271bc;
$color-light-background: #eff9ff;
$color-dark-background: #304268;
